<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NeoDem - Accueil</title>
  <link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
  <!-- Header -->
  <header>
    <h2>NEODEM</h2>
  </header>

  <!-- Contenu principal -->
  <main>
    <h1>Bienvenue sur NeoDem</h1>
    <p>
      Chez <strong>NeoDem</strong>, nous voulons faire avancer la démocratie en proposant à nos 
      utilisateurs de débattre de manière constructive et libre dans un environnement sain et respectueux.
    </p>

    <div class="btn-container">
      <a href="inscription.html" class="btn">S'inscrire</a>
      <a href="connexion.html" class="btn">Se connecter</a>
    </div>
  </main>

  <!-- Footer -->
  <footer>
    <a href="https://www.instagram.com/neodem.stnicolas?igsh=MTJzN2FsYXVlOW9pMw==" target="_blank">
      <img src="instagram-logo.png" alt="Instagram" class="insta-logo">
    </a>
  </footer>
</body>
</html>
